<section class="view">
    <div class="px-3 py-3 bg-dark text-white">
        <h1>{{blog.title}}</h1>
    </div>
    <div class="form-container">
        {{#if err}}
        <div class="alert alert-danger" role="alert">
            {{{err}}}
        </div>
        {{/if}}
        <div class="card mb-3 shadow-sm mb-3">
            <div class="card-body">
                <input type="hidden" name="blogID" class="blogID" value="{{blog.id}}">
                <p class="card-text blog-content">{{blog.content}}</p>
            </div>
        </div>
        <hr>
        {{#each blog.feedbacks}}
        <div class="card mb-3 shadow-sm mb-3">
            <div class="card-body">
                <h5 class="card-title">{{content}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">-- {{user.username}}</h6>
            </div>
        </div>
        {{/each}}
        <hr>
        {{#if req.session.user}}
        <form method="POST" action="/feedback/comment">
            <input type="hidden" name="blogID" class="blogID" value="{{blog.id}}">
            <div class="form-group mb-3">
                <label for="Add feedback" class="mb-2">Leave a comment</label>
                <textarea class="form-control" id="addFeedback" name="comment" rows="3">{{{comment}}}</textarea>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
        {{/if}}
    </div>
</section>